<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gest_Cultures.Properties.Settings.Gest_CulturesConnectionString"
            connectionString="Data Source=FARES-PC;Initial Catalog=Gest_Cultures;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Gest_Cultures.Properties.Settings.Gest_CulturesConnectionString1"
            connectionString="Data Source=DELL\SQLEXPRESS;Initial Catalog=Gest_Cultures;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>